html{
    font-size: 15px;
}

.bienvenidos{
    background: url("../images/fondo-bienvenidos.jpg");
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

.fixed-top{
    background: rgba(0,0,0,0.60);
}

.navbar-dark .navbar-brand{
    color: rgb(253,253,253);
    font-size: 1.3rem;
    text-transform: uppercase !important;
}

.navbar-toggler{
    font-size: 1.6rem;
}

.navbar-dark .navbar-toggler {
    border-color: rgba(255,255,255,0);
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.nav-link {
    text-align: center;
    padding: 0.8rem;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #fff;
    background: #F05F40;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255,255,255,1);
    background: #F05F40 !important;
}
.texto-bienvenidos{
    margin-top: 9rem;
    color: #fff;
}
.btn-primary{
    color:#fff;
    background-color: #F05F40;
    border-color: #b93e24;
    transition: all .5s ease;
}

.btn-primary:hover {
    color: #fff;
    background-color: #F17f66;
    border-color: #F05F40;
}
// estilos quienes somos
.quienes-somos{
    background-color: #F05F40;
    color: #fff;
}

.servicios .fa{
    color: #F05F40;
    font-size: 6rem;
}

.servicios h3{
    font-weight: bold;
}
.ultimos-proyectos{
    background-color: #424141;
    color: #fff;
}

.ultimos-proyectos a{
    display: block;
    overflow: hidden;
    margin-bottom: 1.5rem;
}

.ultimos-proyectos img{
    transition: all .3 ease;
    min-width: 100%;
}

.ultimos-proyectos a:hover img{
    transform: scale(1.5);
}
footer{
    color: #fff;
    background-color: #000;
}
@media(min-width: 768px){
    html{
        font-size: 16px;
    }
    .bienvenidos{
        background: url("../images/fondo-bienvenido-grande.jpg");
        background-size: cover;
    }
}